branches:
  only:
    - master

# Use new container infrastructure to enable caching
sudo: false

# Do not choose a language; we provide our own build tools.
language: generic

# Caching so the next build will be fast too.
cache:
  directories:
    - _build
    - $HOME/.local/bin
    - $HOME/.stack

# Ensure necessary system libraries are present
addons:
  apt:
    packages:
      - libgmp-dev

before_install:
  # Download and unpack the stack executable
  - mkdir -p ~/.local/bin
  - export PATH=$HOME/.local/bin:$PATH
  - >
    [ -x ~/.local/bin/stack ]
    || (travis_retry curl -L https://www.stackage.org/stack/linux-x86_64
    | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack')
  - export STACK="stack --no-terminal --install-ghc"
  - function build_deps {
      (cd _build && cmake .. && make)
      && $STACK build --test --only-dependencies;
    }

script:
  # Build the package, its tests, and its docs and run the tests
  - test/script

matrix:
  include:
    - compiler: GHC 8.6
      install: build_deps
    - compiler: GHC 8.4
      env: STACK_YAML="ghc-8.4.yaml"
      install: build_deps
    - name: hlint
      install: $STACK build hlint
      script: $STACK exec -- hlint .
    - name: haddock
      script: $STACK haddock --no-haddock-deps
    - name: 'cabal check: ron'
      install: $STACK install cabal-install
      script: cd ron && cabal check
    - name: 'cabal check: ron-rdt'
      install: $STACK install cabal-install
      script: cd ron-rdt && cabal check
    - name: 'cabal check: ron-schema'
      install: $STACK install cabal-install
      script: cd ron-schema && cabal check
    - name: 'cabal check: ron-storage'
      install: $STACK install cabal-install
      script: cd ron-storage && cabal check
    - name: weeder
      install: $STACK build weeder
      script: $STACK exec -- weeder
  allow_failures:
    - name: weeder
