*lww#test1@time:0!
        :a      'A' ,

*lww#test2@2:0!
    @1  :a      'A' ,
    @2  :b      'B' ,

*lww#test3@2:1!
        :a      'A2' ,

*lww#test4@3:1!
        :a      'A2' ,
        :b      'B2' ,
    @2  :c      'C1' ,

*lww#array@2000000001:0!
    @1  :0%0      =0  ,
    @2  :0%0000000001    '1' ,
        :0000000001%0    =1  ,
        :0000000001%0000000001    =65536  ,

*lww#weird@3:0!
	@1 :longString 'While classic databases score 0 on the ACID\' scale, I should probably reserve the value of -1 for one data sync system based on Operational Transforms.\n Because of the way its OT mechanics worked, even minor glitches messed up the entire database through offset corruption. That was probably the worst case I observed in the wild. Some may build on quicksand, others need solid bedrock… but that system needed a diamond plate to stay still.' ,
	@3 :minus =-9223372036854775808 ,
	@2 :pi ^3.141592653589793 ,

*lww#raw@2:1!
	@1 :one =1 ,
	@2 :three 'три' ,
	:two ^2.000000e+00 ,
