*cas#test1@1=1;
*cas#test1@2=2;

*cas#test2@1=1;
*cas#test2@2:1;

*cas#test3@3:1;
*cas#test3@4:2;

*cas#test4@2!@=2@1=1
*cas#test4@5!@=5@3:2,@4:1,

*cas#test5@2!@=2@1=1
*cas#test5@3!@:2,@4:1,
*cas#test5@5!@=5

*cas#1VBC8+A@one!,
*cas#1VBC8+A@two;
*cas#1VBC8+A@~:one;

*cas#repeat!
*cas#repeat@1=1;
*cas#repeat:1;
*cas#repeat@1=2;
